body {
    background-color: #fefae0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
  }
  h1 {
    font-family: 'Monoton', cursive;
    font-size: 48px;
  }
  
  img{
    border-radius: 100px;
    
    
  }

  body{
    border: solid 10px;
  }